<nav class="navbar-collapse bs-navbar-collapse">  
  <div id="footer-txt" class="col-sm-12">
    <ul class="nav navbar-nav">
      <li class="item"><a href="/blog">Blog</li>
      <li class="item"><a href="/features">Feature</a></li>
      <li class="item"><a href="/pricing">Pricing</a></li>
      <li class="item"><a href="/faq">FAQ</a></li>
      <li class="item"><a href="/about">About</a></li>
      <li class="item"><a href="mailto:info@quire.io">Contact Us</a></li>
    </ul>
    <div class="clearfix"></div>
    <p class="copy-right">&copy;2018 Potix Corporation. All rights reserved. <a href="/privacy">Privacy Policy</a> &amp; <a href="/terms">Terms</a></p>
  </div>
  <ul id="sns-items" class="nav navbar-nav navbar-right">
    <li class="sns-btn"><a class="i-btn x24 icon-twitter" href="https://twitter.com/quire_io" onclick="gae('social','tt')"></a></li>
    <li class="sns-btn"><a class="i-btn x24 icon-facebook-square" href="https://www.facebook.com/quire.io" onclick="gae('social','fb')"></a></li>
    <li class="sns-btn"><a class="i-btn x24 icon-linkedin" href="https://www.linkedin.com/groups/6737615" onclick="gae('social','li')"></a></li>
  </ul>
</nav>