<div class="row">
  <ul class="footer-column">
    <li class="footer-title">Quire</li>
    <li class="footer-item"><a href="/">Home</a></li>
    <li class="footer-item"><a href="/features">Features</a></li>
    <li class="footer-item"><a href="https://itunes.apple.com/app/quire-task-manager-for-teams/id1095193897" onclick="ntGetApp('iphone')">Download iOS App</a></li>
    <li class="footer-item"><a href="https://play.google.com/store/apps/details?id=io.quire.app" onclick="ntGetApp('android')">Download Android App</a></li>
    <li class="footer-item"><a href="https://d12y7sg0iam4lc.cloudfront.net/download/quire-4.04.apk" onclick="ntGetApp('apk')">Download Android APK</a></li>
    <li class="footer-item"><a href="/pricing">Pricing</a></li>
  </ul>
  <ul class="footer-column">
    <li class="footer-title">Support &amp; Resources</li>
    
    <li class="footer-item"><a href="/tutorial">Tutorial</a></li>
    <li class="footer-item"><a href="/guide">User Guide</a></li>
    <li class="footer-item"><a href="/apps">App Directory</a></li>
    <li class="footer-item"><a href="/dev">Developers &amp; API</a></li>
    <li class="footer-item"><a href="/security">Security</a></li>
    <li class="footer-item"><a href="/faq">FAQ</a></li>
    <li class="footer-item"><a href="/feedback">Send Feedback</a></li>
  </ul>
  <div class="sep"></div>
  <ul class="footer-column">
    <li class="footer-title">Company</li>
    <li class="footer-item"><a href="/about">About</a></li>
    <li class="footer-item"><a href="mailto:info@quire.io">Contact Us</a></li>
    <li class="footer-item"><a href="/blog">Blog</a></li>
  </ul>
  <div class="footer-column">
    <img class="x20" src="https://d12y7sg0iam4lc.cloudfront.net/s/img/website/quire-footer.svg">
    <ul id="sns-items" class="list-unstyled list-inline">
      <li class="sns-btn"><a class="i-btn x20 icon-twitter" href="https://twitter.com/quire_io" target="_blank" onclick="gae('social','tt')"></a></li>
      <li class="sns-btn"><a class="i-btn x20 icon-facebook-square" href="https://www.facebook.com/quire.io" target="_blank" onclick="gae('social','fb')"></a></li>
      <li class="sns-btn"><a class="i-btn x20 icon-linkedin" href="https://www.linkedin.com/groups/6737615" target="_blank" onclick="gae('social','li')"></a></li>
      <li class="sns-btn"><a class="i-btn x20 icon-youtube" href="https://www.youtube.com/channel/UCNblmAyAjOfq2y2OzQbkhlQ" target="_blank" onclick="gae('social','yt')"></a></li>
    </ul>
    <p class="copy-right">©2019 Potix Corporation. <br>All rights reserved. <br class="lg"><a href="/privacy">Privacy Policy</a> &amp; <a href="/terms">Terms</a></p>
  </div>
</div>