<div id="quire-logo" class="navbar-header">
  <h1 class="quire-logo-icon">
    <em>
      <a id="home" href="/" title="Quire">
        <img src="https://d12y7sg0iam4lc.cloudfront.net/s/img/quire_logo.svg" alt="Quire">
      </a>
    </em>
  </h1>
  <div class="self-label">
    <a id="self" href="/guide">Guide</a>
  </div>
  {% if site.search == true %}
  <div class="search-toggle x30">
    <a class="icon-search"></a>
  </div>
  {% endif %}
  <button id="menu-toggle" class="navbar-toggle x30 cmn-toggle-switch htx" type="button">
    <span>toggle menu</span>
  </button>
</div>
<nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
  <ul id="header-icons" class="nav navbar-nav navbar-right hide">
      {% if site.search == true %}
      <li class="item search-toggle">
          <a class="icon-search"></a>
      </li>
      {% endif %}
      <li class="item login">
          <a class="b green" href="/login?continue={{page.url | prepend: site.baseurl | prepend: site.dev_url}}">LOG IN</a>
      </li>
      <li class="item start-free hide">
        <a href="/signup" class="start-free-btn b green">SIGN UP FOR FREE</a>
      </li>
      <li class="item go-to-project hide">
        <a href="/w" class="go-to-project-btn b green">GO TO MY PROJECT</a>
      </li>
      <li class="item t-user dropdown" id="u-id">
        <a href="#" class="i-btn user-icon-wrapper dropdown-toggle" data-toggle="dropdown"></a>
        <ul class="arrow-dropdown-menu dropdown-menu pull-right arrow-border" role="menu">
          <li class="dropdown-header"></li>

          <li class="u-item"><a href="[:url currentUser]"><i class="icon-user-o"></i>My Profile</a></li>
          <li class="u-item"><a href="/r/setting?tab=options"><i class="icon-cog-o"></i>Account Settings</a></li>

          <li class="divider"></li>

          <li class="u-item"><a href="/invite"><i class="icon-heart-o"></i>Recommend Quire</a></li>
          <li class="u-item dropdown-submenu">
            <a href="#"><i class="icon-question-circle"></i>Help</a>
            <ul class="dropdown-menu" role="menu">
              <li class="u-item tutorial">
                <a href="/tutorial" target="_blank"><i class="icon-graduation-cap-o"></i>Tutorial</a>
              </li>
              <li class="u-item">
                <a href="/w/Getting_Started_with_Quire/" target="_blank"><i class="icon-book-open-o"></i>Getting Started</a>
              </li>
              <li class="u-item">
                <a href="/feedback" class="feedback-item" target="_blank"><i class="icon-inbox-file-word"></i>Feedback</a>
              </li>
            </ul>
          </li>

          <li class="divider"></li>
          <li class="u-item"><a href="/r/logout"><i class="icon-sign-out"></i>Log out</a></li>
        </ul>
      </li>
  </ul>
</nav>