<div id="quire-logo" class="navbar-header">
  <button id="menu-toggle" class="navbar-toggle x30 cmn-toggle-switch htx" type="button">
    <span>toggle menu</span>
  </button>
  <h1 class="quire-logo-icon">
    <em>
      <a id="home" href="/" title="Quire">
        <img src="https://d12y7sg0iam4lc.cloudfront.net/s/img/quire_logo.svg" alt="Quire">
      </a>
    </em>
  </h1>
  <div class="self-label">
    <a id="self" href="/guide">Guide</a>
  </div>
</div>
<nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation">
  <ul id="header-icons" class="nav navbar-nav navbar-right hide">
      {% if site.search == true %}
      <li class="item">
        <button class="search__toggle" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
            <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
          </svg>
        </button>
      </li>
        
      {% endif %}
      <li class="item login">
          <a class="b green" href="/login?continue={{page.url | prepend: site.baseurl | prepend: site.dev_url}}">LOG IN</a>
      </li>
      <li class="item start-free">
        <a href="/signup" class="start-free-btn b green">SIGN UP FOR FREE</a>
      </li>
      <li class="item go-to-project hide">
        <a href="/w" class="go-to-project-btn b green">GO TO MY PROJECT</a>
      </li>
      <li class="item t-user dropdown" id="u-id">
        <a href="#" class="i-btn user-icon-wrapper dropdown-toggle" data-toggle="dropdown"></a>
        <ul class="arrow-dropdown-menu dropdown-menu pull-right arrow-border" role="menu">
          <li class="dropdown-header"></li>

          <li class="u-item"><a href="[:url currentUser]"><i class="icon-user-o"></i>My Profile</a></li>
          <li class="u-item"><a href="/r/setting?tab=options"><i class="icon-cog-o"></i>Account Settings</a></li>

          <li class="divider"></li>

          <li class="u-item"><a href="/invite"><i class="icon-heart-o"></i>Recommend Quire</a></li>
          <li class="u-item dropdown-submenu">
            <a href="#"><i class="icon-question-circle"></i>Help</a>
            <ul class="dropdown-menu" role="menu">
              <li class="u-item tutorial">
                <a href="/tutorial" target="_blank"><i class="icon-graduation-cap-o"></i>Tutorial</a>
              </li>
              <li class="u-item">
                <a href="/w/Getting_Started_with_Quire/" target="_blank"><i class="icon-book-open-o"></i>Getting Started</a>
              </li>
              <li class="u-item">
                <a href="/feedback" class="feedback-item" target="_blank"><i class="icon-inbox-file-word"></i>Feedback</a>
              </li>
            </ul>
          </li>

          <li class="divider"></li>
          <li class="u-item"><a href="/r/logout"><i class="icon-sign-out"></i>Log out</a></li>
        </ul>
      </li>
  </ul>
</nav>