<!-- find prev and next -->
{% for nav in navigation %}
  {% if next %}
    {% break %}
  {% endif %}
  {% if nav.children != null %}
    {% for child in nav.children %}
      {% assign prev0 = current0 %}
      {% assign current0 = child %}

      {% if current and next == nil %}
        {% assign next = child %}
        {% break %}
      {% endif %}

      {% if child.url == page.url %}
        {% assign current = child %}
        {% assign prev = prev0 %}
      {% endif %}

    {% endfor %}
  {% endif %}
{% endfor %}

{% if prev or next %}
  <nav class="pagination">
    {% if prev %}
      <a href="{{ prev.url | relative_url }}" class="pagination--pager prev" title="{{ prev.title | markdownify | strip_html }}">{{ prev.title | default: "Previous" }}</a>    
    {% endif %}
    {% if next %}
      <a href="{{ next.url | relative_url }}" class="pagination--pager next" title="{{ next.title | markdownify | strip_html }}">{{ next.title | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}