---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
	font-size: 18px;
	font-family: Lato,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: rgba(0,0,0,0.7);
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 3.6em 0 0.8em;
    color: rgba(0,0,0,0.8);
}

h1 {
	font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

a {
    color: #9ac656;
	&:hover {
    	color: #7bb340;
	}

	&:visited {
    	color: #3c763d;
	}
}

p, a, li, figcaption, td {
	& > code {
		background: rgba(0,0,0,0.03);

		.notice--warning code {
		    background-color: inherit;
		}

		.notice--danger code {
		    background-color: inherit;
		}

		.notice--info code {
		    background-color: inherit;
		}
	}
}

pre {
    line-height: inherit;
    font-size: 1em;
}

code {
    font-size: inherit;
    border: inherit;
    color: inherit;
    padding: inherit;
}

figcaption {
	color: rgba(0,0,0,0.42);
	font-family: inherit;
}

table {
    font-family: inherit;
    font-size: 0.9em;
    margin-bottom: 1.6em;
}

thead {
    background-color: inherit;
    border-bottom: 2px solid #EDEDED;
}

th {
    padding: 0.8em;
    color: rgba(0,0,0,0.6);
}

td {
    padding: 0.8em;
    border-bottom: 1px solid #EDEDED;
}

kbr {
    font-size: 0.9em;
    padding: 0.4em 0.46em;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.16), inset 0 -1px 0 0 rgba(0, 0, 0, .16);
}

figcaption {
    margin: 0 auto;
}

.initial-content, .search-content {
	padding-bottom: 40px;
}

.hide {
	display: inherit !important;
}

.page__content { 
	p {
	    margin: 0 0 1.5em;
	}

	h2 {
    	border-bottom: 1px solid #EDEDED;
	}

	a:not(.btn):not(#goog-wm-sb):hover {
    	text-decoration: none;
	}
}

.notice--warning {
    color: inherit;
    font-family: inherit;
    font-size: 0.85em !important;
    background-color: #fefae2;
    box-shadow: 0 1px 1px rgba(233, 189, 5, 0.25);
}

.notice--danger {
    color: inherit;
    font-family: inherit;
    font-size: 0.85em !important;
    background-color: #fff5f5;
}

.notice--info {
    color: inherit;
    font-family: inherit;
    font-size: 0.85em !important;
    background-color: #f3f9fb;
}

.page__meta, .comment__date {
    color: rgba(0,0,0,0.42);
    font-family: inherit;
    font-size: 0.85em;
}

.sidebar {
	p, li {
		font-family: inherit;
	}

	.nav__items {
		li:hover {
			color: rgba(0,0,0,0.7);
		}

		.active {
	    	font-weight: inherit;
	    	color: #9ac656;

	    	&:hover {
	    		color: #7bb340;
	    	}
	    }

	    & > li {
	    	margin-bottom: 1.4em;

	    	& > ul {
		    	margin-left: 0.8em;
				color: rgba(0,0,0,0.6);

				& > li {
					padding: 0.3rem 0;
				}
		    }
	    }
	}

	.nav__sub-title {
	    border-bottom: inherit;
	    margin-bottom: 0;
	    color: rgba(0,0,0,0.7);
	}
}

.page__meta + .pagination {
	margin-top: 4em;
	padding-top: 2.4em;

	.pagination--pager {
		font-size: 1em;
		width: auto;
		display: inline-block;
		border: 0;
		padding: 0;
		font-weight: 400;

		&:not(.disabled) {
			color: #9ac656;
		}

		&.prev {
			float: left;

			&::before {
				margin-right: 12px;
		    	content: "\2190";
			}
		}

		&.next {
			float: right;

			&::after {
			    margin-left: 12px;
			    content: "\2192";
			}
		}
	}
}

#main {
    padding-left: 2em;
    padding-right: 2em;
    max-width: 1080px;
}

.toc__menu {
    font-size: 1.25em;
    border-left: 3px solid #EDEDED;
    margin: 0.6em 0 0.8em 0.8em;
    width: inherit;

    a {
    	padding: 0.3rem 0.65rem;
	    font-weight: inherit;
	    border-bottom: inherit;
	}
}

@media (min-width: 64em) and (max-width: 79em) {
	.sidebar {
    	width: calc(280px - 1em);
    }

    .page {
    	width: calc(100% - 280px);
    }
}

@media (max-width: 64em) {
	#main {
		max-width: 720px;
	}

	.sidebar {
		position: fixed;
		top: 50px;
		left: 0;
		right: 0;
		background-color: white;

		.nav__list {
			text-align: center;
		}
	}

	.page {
		margin-top: 50px;
	}

	.sticky-sidebar {
		overflow: hidden;

		.sidebar {
			bottom: 0;
			overflow-y: auto;

			background: rgba(255,255,255,0.98);
		}
	}
}












